Repository FppEpitech/R-Type, pull requests merged in 2024-09, with the labels that each got.

#2 feat: template issue
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Enhancement

#4 feat(workflow): mirroring action
  .github/workflows/mirror.yml
Labels: Enhancement

#10 FEAT: cmake create binaries
  .gitignore
  CMakeLists.txt
  Client/CMakeLists.txt
  Client/include/.gitkeep
  Client/src/main.cpp
  README.md
  Server/CMakeLists.txt
  Server/include/.gitkeep
  Server/src/main.cpp
Labels: Documentation, Enhancement

#6 FEAT: contributing file
  Contributing.md
Labels: Documentation

#13 DOCS: benchmark for graphical library
  README.md
Labels: Documentation

#14 DOCS: Add the team logo in readme.
  README.md
Labels: Documentation

#18 FEAT: ECS implementation and benchmark
  CMakeLists.txt
  Client/CMakeLists.txt
  Ecs/CMakeLists.txt
  Ecs/src/Registry.cpp
  Ecs/src/Registry.hpp
  Ecs/src/SparseArray.hpp
  Server/CMakeLists.txt
  Server/include/.gitkeep
Labels: Documentation, Enhancement, Ecs

#23 FEAT: GitHub Actions workflow for CMake build
  .github/workflows/cmake.yml
  Client/CMakeLists.txt
  Ecs/CMakeLists.txt
  Server/CMakeLists.txt
Labels: Continuous Integration

#29 FEAT: CICD cross os check
  .github/workflows/cmake-linux.yml
  .github/workflows/cmake-windows.yml
  README.md
Labels: Continuous Integration

#25 FEAT: dlloader class
  Ecs/src/Registry.cpp
  Ecs/src/Registry.hpp
  Ecs/src/SparseArray.hpp
  Server/include/IComponent.hpp
  Server/include/ISystem.hpp
  Server/lib/components/.gitkeep
  Server/lib/systems/.gitkeep
  Server/src/GameEngine/DLLoader/DLLoader.hpp
Labels: Enhancement, Server, Ecs

#39 FEAT: All Interfaces for the graphic side
  .gitignore
  Client/Interface/I2dEntities.hpp
  Client/Interface/I3dEntities.hpp
  Client/Interface/IColor.hpp
  Client/Interface/IFont.hpp
  Client/Interface/IGraphic.hpp
  Client/Interface/IMusic.hpp
  Client/Interface/IShader.hpp
  Client/Interface/ISound.hpp
  Client/Interface/IText.hpp
  Client/Interface/ITexture.hpp
  Client/Interface/KeyMap.hpp
Labels: Enhancement

#40 35 feat create the main class of server
  Server/CMakeLists.txt
  Server/src/GameEngine/Application/Application.cpp
  Server/src/GameEngine/Application/Application.hpp
  Server/src/main.cpp
Labels: Enhancement, Server

#37 Feature install.bat and install.sh, with vcpkg
  .gitignore
  install.bat
  install.sh
  vcpkg.json
Labels: Enhancement, Continuous Integration

#51 Create a const map for string inputs to numbers
  include/KeyMap.hpp
  include/StringKeyMap.hpp
Labels: Enhancement, Server, Client

#46 Create the main class of client
  Client/CMakeLists.txt
  Client/src/Application/Application.cpp
  Client/src/Application/Application.hpp
  Client/src/main.cpp
Labels: Enhancement, Client

#49 Create scene management enumeration for the registries
  Client/CMakeLists.txt
  Ecs/include/IComponent.hpp
  Ecs/include/ISystem.hpp
  R-TypeGame/components/CMakeLists.txt
  include/ISceneManager.hpp
Labels: Enhancement, Server, Client, Ecs

#52 Make C.I work with packages installed through vcpkg
  .github/workflows/checks.yml
  .github/workflows/cmake.yml
  .github/workflows/tests.yml
  CMakeLists.txt
  Client/CMakeLists.txt
  Client/src/main.cpp
  Server/CMakeLists.txt
  build.sh
  install.bat
  install.sh
  tests/CMakeLists.txt
  tests/Client/tests.cpp
  tests/Ecs/tests.cpp
  tests/Server/tests.cpp
Labels: Enhancement, Continuous Integration

#53 Load scenes from json to registers in client
  Client/CMakeLists.txt
  Client/config/scenes/firstScene.json
  Client/config/scenes/testScene.json
  Client/src/Application/Application.cpp
  Client/src/Application/Application.hpp
  Client/src/ClientSceneManager/ClientSceneManager.cpp
  Client/src/ClientSceneManager/ClientSceneManager.hpp
  Client/src/Errors/ClientErrors.hpp
  R-TypeGame/components/CMakeLists.txt
  Server/src/GameEngine/DLLoader/DLLoader.hpp
  include/DLLoader/DLLoader.hpp
  include/StringKeyMap.hpp
  include/interfaces/IComponent.hpp
  include/interfaces/IError.hpp
  include/interfaces/ISceneManager.hpp
  include/interfaces/ISystem.hpp
  install.bat
  install.sh
Labels: Enhancement, Server, Client

#31 Server network implementation
  Server/CMakeLists.txt
  Server/src/GameEngine/Application/Application.cpp
  Server/src/GameEngine/Application/Application.hpp
  Server/src/Network/CMakeLists.txt
  Server/src/Network/Network.hpp
  Server/src/Network/packet/NetworkPacket.cpp
  Server/src/Network/packet/NetworkPacket.hpp
  Server/src/Network/server/NetworkServer.cpp
  Server/src/Network/server/NetworkServer.hpp
  Server/src/main.cpp
Labels: Enhancement, Server, Network

#58 FEAT: Create the ServerSceneManager class
  Client/CMakeLists.txt
  Client/src/ClientSceneManager/ClientSceneManager.cpp
  R-TypeGame/CMakeLists.txt
  R-TypeGame/systems/CMakeLists.txt
  R-TypeGame/systems/MoveSystem.cpp
  R-TypeGame/systems/MoveSystem.hpp
  Server/CMakeLists.txt
  Server/config/scenes/firstScene.json
  Server/config/scenes/testScene.json
  Server/src/GameEngine/Application/Application.cpp
  Server/src/GameEngine/Application/Application.hpp
  Server/src/GameEngine/Errors/ServerErrors.hpp
  Server/src/GameEngine/ServerSceneManager/ServerSceneManager.cpp
  Server/src/GameEngine/ServerSceneManager/ServerSceneManager.hpp
  include/DLLoader/DLLoader.hpp
  include/StringKeyMap.hpp
Labels: Enhancement, Server, Ecs

#60 Handle the scene changes in client
  Client/config/scenes/firstScene.json
  Client/config/scenes/testScene.json
  Client/src/Application/Application.cpp
  Client/src/ClientSceneManager/ClientSceneManager.cpp
  Client/src/ClientSceneManager/ClientSceneManager.hpp
Labels: Enhancement, Client

#63 Create interface and abstract classes for scene manager
  Client/CMakeLists.txt
  Client/src/ClientSceneManager/ClientSceneManager.cpp
  Client/src/ClientSceneManager/ClientSceneManager.hpp
  Client/src/Errors/ClientErrors.hpp
  SceneManager/ASceneManager.cpp
  SceneManager/ASceneManager.hpp
  SceneManager/ISceneManager.hpp
  Server/CMakeLists.txt
  Server/src/GameEngine/Application/Application.cpp
  Server/src/GameEngine/ServerSceneManager/ServerSceneManager.cpp
  Server/src/GameEngine/ServerSceneManager/ServerSceneManager.hpp
  include/interfaces/ISceneManager.hpp
Labels: Enhancement, Server, Client

#62 FEAT: component to handle text draw
  Client/CMakeLists.txt
  Client/src/Component/FontComponent.cpp
  Client/src/Component/FontComponent.hpp
  Client/src/Component/Position2DComponent.cpp
  Client/src/Component/Position2DComponent.hpp
  Client/src/Component/Size1DComponent.cpp
  Client/src/Component/Size1DComponent.hpp
  Client/src/Component/TextComponent.cpp
  Client/src/Component/TextComponent.hpp
  R-TypeGame/components/Position2DComponent.cpp
  R-TypeGame/components/Position2DComponent.hpp
  R-TypeGame/components/Position3DComponent.cpp
  R-TypeGame/components/Position3DComponent.hpp
  include/interfaces/IComponent.hpp
Labels: Enhancement, Client

#73 Handle the user input in the scene manager
  Client/src/ClientSceneManager/ClientSceneManager.cpp
  Client/src/ClientSceneManager/ClientSceneManager.hpp
  SceneManager/ASceneManager.cpp
  SceneManager/ASceneManager.hpp
  Server/src/GameEngine/ServerSceneManager/ServerSceneManager.cpp
  Server/src/GameEngine/ServerSceneManager/ServerSceneManager.hpp
Labels: Enhancement, Server, Client

#69 Add component r-typegame
  R-TypeGame/components/CMakeLists.txt
  R-TypeGame/components/Drawable/DrawableComponent.cpp
  R-TypeGame/components/Drawable/DrawableComponent.hpp
  R-TypeGame/components/Gravity/GravityComponent.cpp
  R-TypeGame/components/Gravity/GravityComponent.hpp
  R-TypeGame/components/Life/LifeComponent.cpp
  R-TypeGame/components/Life/LifeComponent.hpp
  R-TypeGame/components/Position/Position2DComponent.cpp
  R-TypeGame/components/Position/Position2DComponent.hpp
  R-TypeGame/components/Position/Position3DComponent.cpp
  R-TypeGame/components/Position/Position3DComponent.hpp
  R-TypeGame/components/Shooter/ShooterComponent.cpp
  R-TypeGame/components/Shooter/ShooterComponent.hpp
  R-TypeGame/components/Velocity/VelocityComponent.cpp
  R-TypeGame/components/Velocity/VelocityComponent.hpp
  Server/config/scenes/firstScene.json
Labels: Enhancement, Server

#71 FEAT: Component to handle a 3d model
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Component/ColourComponent.cpp
  Engine/Client/Src/Component/ColourComponent.hpp
  Engine/Client/Src/Component/FontComponent.cpp
  Engine/Client/Src/Component/FontComponent.hpp
  Engine/Client/Src/Component/FontPathComponent.cpp
  Engine/Client/Src/Component/FontPathComponent.hpp
  Engine/Client/Src/Component/MaterialMapComponent.cpp
  Engine/Client/Src/Component/MaterialMapComponent.hpp
  Engine/Client/Src/Component/ObjPathComponent.cpp
  Engine/Client/Src/Component/ObjPathComponent.hpp
  Engine/Client/Src/Component/Position3DComponent.cpp
  Engine/Client/Src/Component/Position3DComponent.hpp
  Engine/Client/Src/Component/ScaleComponent.cpp
  Engine/Client/Src/Component/ScaleComponent.hpp
  Engine/Client/Src/Component/TexturePathComponent.cpp
  Engine/Client/Src/Component/TexturePathComponent.hpp
Labels: Enhancement, Client

#79 FEAT: Create sound music components
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Component/FontPathComponent.cpp
  Engine/Client/Src/Component/FontPathComponent.hpp
  Engine/Client/Src/Component/MaterialMapComponent.cpp
  Engine/Client/Src/Component/MaterialMapComponent.hpp
  Engine/Client/Src/Component/MusicPathComponent.cpp
  Engine/Client/Src/Component/MusicPathComponent.hpp
  Engine/Client/Src/Component/MusicPitchComponent.cpp
  Engine/Client/Src/Component/MusicPitchComponent.hpp
  Engine/Client/Src/Component/MusicVolumeComponent.cpp
  Engine/Client/Src/Component/MusicVolumeComponent.hpp
  Engine/Client/Src/Component/ObjPathComponent.cpp
  Engine/Client/Src/Component/ObjPathComponent.hpp
  Engine/Client/Src/Component/SoundPathComponent.cpp
  Engine/Client/Src/Component/SoundPathComponent.hpp
  Engine/Client/Src/Component/SoundPitchComponent.cpp
  Engine/Client/Src/Component/SoundPitchComponent.hpp
  Engine/Client/Src/Component/SoundVolumeComponent.cpp
  Engine/Client/Src/Component/SoundVolumeComponent.hpp
  Engine/Client/Src/Component/TexturePathComponent.cpp
  Engine/Client/Src/Component/TexturePathComponent.hpp
Labels: Enhancement, Client

#78 66 feat load graphic lib system and component in client
  CMakeLists.txt
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/GraphicalLoad/GraphicalLoad.cpp
  Engine/Client/Src/GraphicalLoad/GraphicalLoad.hpp
  Engine/Shared/Interface/IGraphic.hpp
  GraphicLibrary/CMakeLists.txt
  GraphicLibrary/GraphicLib.cpp
  GraphicLibrary/GraphicLib.hpp
  GraphicLibrary/Include/.gitkeep
  GraphicLibrary/Src/.gitkeep
Labels: Enhancement, Client

#85 REFACTOR: Prototype System
  Engine/Server/Config/Scenes/firstScene.json
  Engine/Shared/Ecs/Src/Registry.cpp
  Engine/Shared/Ecs/Src/Registry.hpp
  Engine/Shared/Interface/ISystem.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  Engine/Shared/SceneManager/ASceneManager.hpp
  Engine/Shared/SceneManager/ISceneManager.hpp
  R-TypeGame/Systems/MoveSystem.hpp
Labels: Ecs

#83 FEAT: Catch user inputs in graphical library
  Engine/Shared/Interface/IGraphic.hpp
  GraphicLibrary/CMakeLists.txt
  GraphicLibrary/Src/GraphicLib.cpp
  GraphicLibrary/Src/GraphicLib.hpp
Labels: Enhancement, Client
