Repository FppEpitech/R-Type, pull requests merged in 2024-10, with the labels that each got.

#94 FEAT: Create shader component
  Engine/Client/CMakeLists.txt
  Engine/Client/Interface/I2dEntities.hpp
  Engine/Client/Interface/I3dEntities.hpp
  Engine/Client/Interface/IColor.hpp
  Engine/Client/Interface/IFont.hpp
  Engine/Client/Interface/IGraphic.hpp
  Engine/Client/Interface/IMusic.hpp
  Engine/Client/Interface/IShader.hpp
  Engine/Client/Interface/ISound.hpp
  Engine/Client/Interface/IText.hpp
  Engine/Client/Interface/ITexture.hpp
  Engine/Client/Src/Components/ShaderComponent/ShaderPathComponent.cpp
  Engine/Client/Src/Components/ShaderComponent/ShaderPathComponent.hpp
  Engine/Client/Src/Systems/.gitkeep
Labels: Enhancement, Client, Component

#57 Improve all scripts
  README.md
  build.sh
  tools/build-linux.sh
  tools/build-windows.bat
  tools/install-linux.sh
  tools/install-windows.bat
Labels: Enhancement

#98 FEAT: Register default components in every scene of the scene managers
  Engine/Shared/Ecs/Src/Registry.cpp
  Engine/Shared/Ecs/Src/Registry.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  Engine/Shared/SceneManager/ASceneManager.hpp
Labels: Enhancement, Client, Network

#99 FEAT: Create draw sytem
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/ClientSceneManager/ClientSceneManager.cpp
  Engine/Client/Src/Systems/DrawOBJ/DrawOBJSystem.cpp
  Engine/Client/Src/Systems/DrawOBJ/DrawOBJSystem.hpp
  Engine/Shared/Ecs/Src/Registry.cpp
  Engine/Shared/Ecs/Src/Registry.hpp
  Engine/Shared/Interface/IGraphic.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  GraphicLibrary/Src/GraphicLib.cpp
  GraphicLibrary/Src/GraphicLib.hpp
Labels: Enhancement, Client, System

#104 FEAT: Create system draw texture
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/Systems/DrawOBJ/DrawOBJSystem.cpp
  Engine/Client/Src/Systems/DrawTexture/DrawTextureSystem.cpp
  Engine/Client/Src/Systems/DrawTexture/DrawTextureSystem.hpp
  Engine/Shared/Interface/IGraphic.hpp
  GraphicLibrary/Src/GraphicLib.cpp
  GraphicLibrary/Src/GraphicLib.hpp
Labels: Enhancement, Client, System

#102 FEAT: add system move with network
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Network/NetworkClient.cpp
  Engine/Server/CMakeLists.txt
  Engine/Server/Config/Scenes/firstScene.json
  Engine/Server/Config/Scenes/testScene.json
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Server/Src/GameEngine/Application/Application.hpp
  Engine/Server/Src/Network/CMakeLists.txt
  Engine/Server/Src/Network/NetworkServer.cpp
  Engine/Server/Src/Network/NetworkServer.hpp
  Engine/Shared/Component/CMakeLists.txt
  Engine/Shared/Component/Entities/Player/PlayerComponent.cpp
  Engine/Shared/Component/Entities/Player/PlayerComponent.hpp
  Engine/Shared/Component/Graphical/.gitkeep
  Engine/Shared/Network/Packet/NetworkPacket.cpp
  R-TypeGame/CMakeLists.txt
  R-TypeGame/Components/CMakeLists.txt
  R-TypeGame/Components/Drawable/DrawableComponent.cpp
  R-TypeGame/Components/Gravity/GravityComponent.cpp
  R-TypeGame/Components/Life/LifeComponent.cpp
  R-TypeGame/Components/Position/Position2DComponent.cpp
  R-TypeGame/Components/Position/Position2DComponent.hpp
  R-TypeGame/Components/Position/Position3DComponent.cpp
  R-TypeGame/Components/Position/Position3DComponent.hpp
  R-TypeGame/Components/Shooter/ShooterComponent.cpp
  R-TypeGame/Components/Speed/SpeedComponent.cpp
  R-TypeGame/Components/Speed/SpeedComponent.hpp
  R-TypeGame/Components/Velocity/VelocityComponent.cpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/MoveSystem.cpp
  R-TypeGame/Systems/MoveSystem.hpp
  R-TypeGame/Systems/MoveSystem/MoveSystemDown/MoveSystemDown.cpp
  R-TypeGame/Systems/MoveSystem/MoveSystemDown/MoveSystemDown.hpp
  R-TypeGame/Systems/MoveSystem/MoveSystemLeft/MoveSystemLeft.cpp
  R-TypeGame/Systems/MoveSystem/MoveSystemLeft/MoveSystemLeft.hpp
  R-TypeGame/Systems/MoveSystem/MoveSystemRight/MoveSystemRight.cpp
  R-TypeGame/Systems/MoveSystem/MoveSystemRight/MoveSystemRight.hpp
  R-TypeGame/Systems/MoveSystem/MoveSystemUp/MoveSystemUp.cpp
  R-TypeGame/Systems/MoveSystem/MoveSystemUp/MoveSystemUp.hpp
  R-TypeGame/Systems/Players/PlayerInitSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitSystem.hpp
Labels: Enhancement, Server, System

#105 FEAT: Create game folder
  CMakeLists.txt
  Engine/CMakeLists.txt
  Engine/Client/CMakeLists.txt
  Engine/Client/Config/Scenes/firstScene.json
  Engine/Client/Config/Scenes/testScene.json
  Engine/Client/Src/GetGraphicalLibrary/GetGraphicalLibrary.cpp
  Engine/Client/Src/GetGraphicalLibrary/GetGraphicalLibrary.hpp
  Engine/Server/CMakeLists.txt
  Engine/Server/Src/Network/CMakeLists.txt
  Engine/Server/Src/Network/NetworkServer.hpp
  Engine/Shared/CMakeLists.txt
  Engine/Shared/Component/Entities/Player/PlayerComponent.hpp
  Engine/Shared/Ecs/CMakeLists.txt
  Engine/Shared/Network/CMakeLists.txt
  Engine/Shared/Network/Packet/CMakeLists.txt
  Game/Assets/.gitkeep
  Game/Config/.gitkeep
  Game/GameData/Scenes/firstScene.json
  Game/GameData/Scenes/testScene.json
  GraphicLibrary/CMakeLists.txt
  R-TypeGame/CMakeLists.txt
  R-TypeGame/Systems/CMakeLists.txt
  tests/CMakeLists.txt
Labels: Enhancement

#110 fix(Path): New path for config files
  Engine/Client/Src/ClientSceneManager/ClientSceneManager.hpp
  Engine/Client/Src/GetGraphicalLibrary/GetGraphicalLibrary.hpp
  Engine/Server/Src/GameEngine/ServerSceneManager/ServerSceneManager.hpp
  Game/GameData/Scenes/firstScene.json
  R-TypeGame/Systems/Players/PlayerInitSystem.cpp
Labels: Bug, Server, Client, System

#109 Link keyboard to network on client
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/Network/CMakeLists.txt
  Engine/Client/Src/Network/NetworkClient.cpp
  Engine/Client/Src/Network/NetworkClient.hpp
  Engine/Server/Src/GameEngine/Application/Application.hpp
  Engine/Shared/Network/Packet/NetworkPacket.cpp
  Engine/Shared/Network/Packet/NetworkPacket.hpp
Labels: Enhancement, Client, Network

#107 FEAT: Create system draw text
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/Systems/DrawText/DrawTextSystem.cpp
  Engine/Client/Src/Systems/DrawText/DrawTextSystem.hpp
  Engine/Shared/Interface/IGraphic.hpp
  GraphicLibrary/Src/GraphicLib.cpp
  GraphicLibrary/Src/GraphicLib.hpp
Labels: Enhancement, Client, System

#114 FEAT: Create drawTextureRect system and textureRectComponent
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/Systems/DrawTextureRect/DrawTextureRectSystem.cpp
  Engine/Client/Src/Systems/DrawTextureRect/DrawTextureRectSystem.hpp
  Engine/Server/CMakeLists.txt
  Engine/Shared/Component/TextureRectComponent.cpp
  Engine/Shared/Component/TextureRectComponent.hpp
  Engine/Shared/Interface/IGraphic.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  Engine/Shared/SceneManager/ASceneManager.hpp
  GraphicLibrary/Src/GraphicLib.cpp
  GraphicLibrary/Src/GraphicLib.hpp
Labels: Enhancement, Client, Component, System

#117 FEAT: Display players on the screen
  Game/Assets/players.gif
  Game/GameData/Entities/PlayerFour.json
  Game/GameData/Entities/PlayerOne.json
  Game/GameData/Entities/PlayerThree.json
  Game/GameData/Entities/PlayerTwo.json
  Game/GameData/Scenes/firstScene.json
  R-TypeGame/Parser/LifeParser/LifeParser.cpp
  R-TypeGame/Parser/LifeParser/LifeParser.hpp
  R-TypeGame/Parser/PlayerParser/PlayerParser.cpp
  R-TypeGame/Parser/PlayerParser/PlayerParser.hpp
  R-TypeGame/Parser/Position2DParser/Position2DParser.cpp
  R-TypeGame/Parser/Position2DParser/Position2DParser.hpp
  R-TypeGame/Parser/ScaleParser/ScaleParser.cpp
  R-TypeGame/Parser/ScaleParser/ScaleParser.hpp
  R-TypeGame/Parser/SpeedParser/SpeedParser.cpp
  R-TypeGame/Parser/SpeedParser/SpeedParser.hpp
  R-TypeGame/Parser/TextureRectParser/TextureRectParser.cpp
  R-TypeGame/Parser/TextureRectParser/TextureRectParser.hpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/MoveSystem/MoveSystemDown/MoveSystemDown.cpp
  R-TypeGame/Systems/MoveSystem/MoveSystemDown/MoveSystemDown.hpp
  R-TypeGame/Systems/MoveSystem/MoveSystemLeft/MoveSystemLeft.cpp
  R-TypeGame/Systems/MoveSystem/MoveSystemLeft/MoveSystemLeft.hpp
  R-TypeGame/Systems/MoveSystem/MoveSystemRight/MoveSystemRight.cpp
  R-TypeGame/Systems/MoveSystem/MoveSystemRight/MoveSystemRight.hpp
  R-TypeGame/Systems/MoveSystem/MoveSystemUp/MoveSystemUp.cpp
  R-TypeGame/Systems/MoveSystem/MoveSystemUp/MoveSystemUp.hpp
  R-TypeGame/Systems/Players/PlayerInitFourSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitOneSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitThreeSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitTwoSystem.cpp
Labels: Enhancement, Client, System

#119 FIX: Fix input catching in client
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Network/NetworkClient.cpp
  Engine/Server/CMakeLists.txt
  Engine/Shared/Ecs/Src/SparseArray.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  Engine/Shared/SceneManager/ASceneManager.hpp
Labels: Bug, Client

#122 FEAT: Create animation component and system
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/Systems/SpriteSheetAnimation/SpriteSheetAnimationSystem.cpp
  Engine/Client/Src/Systems/SpriteSheetAnimation/SpriteSheetAnimationSystem.hpp
  Engine/Server/CMakeLists.txt
  Engine/Shared/Component/SpriteSheetAnimationComponent.cpp
  Engine/Shared/Component/SpriteSheetAnimationComponent.hpp
  Engine/Shared/Component/TextComponent.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  Engine/Shared/SceneManager/ASceneManager.hpp
  Game/GameData/Entities/PlayerOne.json
  R-TypeGame/Parser/LifeParser/LifeParser.cpp
  R-TypeGame/Parser/PlayerParser/PlayerParser.cpp
  R-TypeGame/Parser/Position2DParser/Position2DParser.cpp
  R-TypeGame/Parser/ScaleParser/ScaleParser.cpp
  R-TypeGame/Parser/SpeedParser/SpeedParser.cpp
  R-TypeGame/Parser/SpriteSheetAnimationParser/SpriteSheetAnimationParser.cpp
  R-TypeGame/Parser/SpriteSheetAnimationParser/SpriteSheetAnimationParser.hpp
  R-TypeGame/Parser/TextureRectParser/TextureRectParser.cpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Players/PlayerInitOneSystem.cpp
Labels: Enhancement, Client, Ecs, Component, System

#121 fix(Workflows): All checks off clang tidy
  CMakeLists.txt
Labels: Enhancement, Continuous Integration

#124 FEAT: Create players shots
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/ClientSceneManager/ClientSceneManager.cpp
  Engine/Client/Src/ClientSceneManager/ClientSceneManager.hpp
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Server/Src/GameEngine/Application/Application.hpp
  Engine/Server/Src/GameEngine/ServerSceneManager/ServerSceneManager.cpp
  Engine/Server/Src/GameEngine/ServerSceneManager/ServerSceneManager.hpp
  Engine/Shared/Ecs/Src/Registry.cpp
  Engine/Shared/Ecs/Src/Registry.hpp
  Engine/Shared/Interface/IGraphic.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  Engine/Shared/SceneManager/ASceneManager.hpp
  Game/Assets/shots.gif
  Game/GameData/Entities/Shoot.json
  Game/GameData/Scenes/firstScene.json
  Game/GameData/Scenes/testScene.json
  GraphicLibrary/Src/GraphicLib.cpp
  GraphicLibrary/Src/GraphicLib.hpp
  R-TypeGame/Components/Shoot/ShootComponent.cpp
  R-TypeGame/Components/Shoot/ShootComponent.hpp
  R-TypeGame/Components/Shooter/ShooterComponent.cpp
  R-TypeGame/Components/Shooter/ShooterComponent.hpp
  R-TypeGame/Components/Velocity/VelocityComponent.cpp
  R-TypeGame/Components/Velocity/VelocityComponent.hpp
  R-TypeGame/Parser/ShootParser/ShootParser.cpp
  R-TypeGame/Parser/ShootParser/ShootParser.hpp
  R-TypeGame/Parser/VelocityParser/VelocityParser.cpp
  R-TypeGame/Parser/VelocityParser/VelocityParser.hpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/MoveSystem/MoveEntities/MoveEntitiesSystem.cpp
  R-TypeGame/Systems/MoveSystem/MoveEntities/MoveEntitiesSystem.hpp
  R-TypeGame/Systems/MoveSystem/MoveSystemDown/MoveSystemDown.cpp
  R-TypeGame/Systems/MoveSystem/MoveSystemLeft/MoveSystemLeft.cpp
  R-TypeGame/Systems/MoveSystem/MoveSystemRight/MoveSystemRight.cpp
  R-TypeGame/Systems/MoveSystem/MoveSystemUp/MoveSystemUp.cpp
  R-TypeGame/Systems/Shoot/ShootDestroySystem.cpp
  R-TypeGame/Systems/Shoot/ShootDestroySystem.hpp
  R-TypeGame/Systems/Shoot/ShootInitSystem.cpp
  R-TypeGame/Systems/Shoot/ShootInitSystem.hpp
  R-TypeGame/Systems/Shoot/ShootSystem.cpp
  R-TypeGame/Systems/Shoot/ShootSystem.hpp
Labels: Enhancement, Client, Ecs, Component, System

#126 FEAT: Display game background
  Engine/Shared/Component/Position2DComponent.cpp
  Engine/Shared/Component/Position2DComponent.hpp
  Game/Assets/asteroid-1.png
  Game/Assets/asteroid-2.png
  Game/Assets/background.png
  Game/Assets/planet-small.png
  Game/Assets/planet.png
  Game/GameData/Entities/Asteroid-1.json
  Game/GameData/Entities/Asteroid-2.json
  Game/GameData/Entities/Background.json
  Game/GameData/Entities/Planet-small.json
  Game/GameData/Entities/Planet.json
  Game/GameData/Scenes/firstScene.json
  R-TypeGame/Components/Planet/PlanetComponent.cpp
  R-TypeGame/Components/Planet/PlanetComponent.hpp
  R-TypeGame/Systems/Background/BackgroundInitSystem.cpp
  R-TypeGame/Systems/Background/BackgroundInitSystem.hpp
  R-TypeGame/Systems/Background/PlanetInitSystem.cpp
  R-TypeGame/Systems/Background/PlanetInitSystem.hpp
  R-TypeGame/Systems/Background/PlanetRestartSystem.cpp
  R-TypeGame/Systems/Background/PlanetRestartSystem.hpp
  R-TypeGame/Systems/CMakeLists.txt
Labels: Enhancement, Client, Component, System

#127 FEAT: Create shader system
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/Components/ShaderComponent/ShaderPathComponent.cpp
  Engine/Client/Src/Components/ShaderComponent/ShaderPathComponent.hpp
  Engine/Client/Src/InitShader/InitShader.cpp
  Engine/Client/Src/InitShader/InitShader.hpp
  Engine/Shared/Interface/IGraphic.hpp
  Game/Assets/fsFile/achromatopsie.fs
  Game/Assets/fsFile/deuteranomalie.fs
  Game/Assets/fsFile/deuteranopie.fs
  Game/Assets/fsFile/protanomalie.fs
  Game/Assets/fsFile/protanopie.fs
  Game/Assets/fsFile/tritanomalie.fs
  Game/Assets/fsFile/tritanopie.fs
  Game/Config/Settings.json
  GraphicLibrary/CMakeLists.txt
  GraphicLibrary/Src/GraphicLib.cpp
  GraphicLibrary/Src/GraphicLib.hpp
Labels: Enhancement, Client

#131 FEAT: Link the game systems with server.
  Engine/Server/Src/GameEngine/Application/Application.cpp
Labels: Enhancement, Server

#132 Fix: Segfault PlayerComponent
  Engine/Client/Src/Network/NetworkClient.cpp
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Server/Src/Network/NetworkServer.cpp
  Game/GameData/Entities/PlayerFour.json
  Game/GameData/Entities/PlayerThree.json
  Game/GameData/Entities/PlayerTwo.json
Labels: Bug, Network

#140 FEAT: SceneManager parse update Network systems
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/ClientSceneManager/ClientSceneManager.cpp
  Engine/Shared/Interface/ISystemNetworkUpdate.hpp
  Engine/Shared/Network/Packet/NetworkPacket.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  Engine/Shared/SceneManager/ASceneManager.hpp
  Game/GameData/Scenes/firstScene.json
Labels: Enhancement, Client, Network

#142 FEAT: Add system to move entities
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/Network/NetworkClient.cpp
  Engine/Client/Src/Network/NetworkClient.hpp
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Server/Src/Network/NetworkServer.cpp
  Engine/Server/Src/Network/NetworkServer.hpp
  Engine/Shared/Ecs/Src/Registry.hpp
  Engine/Shared/Network/Packet/NetworkPacket.hpp
  Game/GameData/Scenes/firstScene.json
  R-TypeGame/CMakeLists.txt
  R-TypeGame/SystemNetworkUpdate/.gitkeep
  R-TypeGame/SystemNetworkUpdate/CMakeLists.txt
  R-TypeGame/SystemNetworkUpdate/UpdatePositionSystem/updatePositionSystem.cpp
  R-TypeGame/SystemNetworkUpdate/UpdatePositionSystem/updatePositionSystem.hpp
  R-TypeGame/Systems/Move/MoveSystemDown/MoveSystemDown.cpp
  R-TypeGame/Systems/Move/MoveSystemLeft/MoveSystemLeft.cpp
  R-TypeGame/Systems/Move/MoveSystemRight/MoveSystemRight.cpp
  R-TypeGame/Systems/Move/MoveSystemUp/MoveSystemUp.cpp
Labels: Enhancement, Server, Network, System

#138 REFACTOR: Change the doc service
  .github/workflows/DocUpdate.yml
  Docs/Doxyfile
  Docs/doxygen/.gitkeep
  README.md
Labels: Documentation, Enhancement

#146 Send packet create shoot
  Engine/Client/Src/Network/NetworkClient.cpp
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Shared/Ecs/Src/Registry.hpp
  Game/GameData/Scenes/firstScene.json
  R-TypeGame/SystemNetworkUpdate/.gitkeep
  R-TypeGame/SystemNetworkUpdate/CMakeLists.txt
  R-TypeGame/SystemNetworkUpdate/UpdateShootSystem/updateShootSystem.cpp
  R-TypeGame/SystemNetworkUpdate/UpdateShootSystem/updateShootSystem.hpp
  R-TypeGame/Systems/Shoot/ShootSystem.cpp
Labels: Enhancement, Client, Network

#148 FEAT: Manage release
  .github/workflows/Linux.yml
  .github/workflows/Release.yml
  .github/workflows/Windows.yml
Labels: Enhancement

#139 FEAT: Handle & display mob
  Engine/Client/Src/Systems/DrawTextureRect/DrawTextureRectSystem.cpp
  Engine/Shared/Interface/IGraphic.hpp
  Game/Assets/mob-1.gif
  Game/GameData/Entities/Mob.json
  Game/GameData/Entities/ShootMob.json
  Game/GameData/Scenes/firstScene.json
  GraphicLibrary/Src/GraphicLib.cpp
  GraphicLibrary/Src/GraphicLib.hpp
  R-TypeGame/Components/Mob/MobComponent.cpp
  R-TypeGame/Components/Mob/MobComponent.hpp
  R-TypeGame/Parser/ButtonTexturePathParser/ButtonTexturePathParser.cpp
  R-TypeGame/Parser/MobParser/MobParser.cpp
  R-TypeGame/Parser/MobParser/MobParser.hpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Mob/MobInitSystem.cpp
  R-TypeGame/Systems/Mob/MobInitSystem.hpp
  R-TypeGame/Systems/MoveSystem/MoveMobs/MoveMobsSystem.cpp
  R-TypeGame/Systems/MoveSystem/MoveMobs/MoveMobsSystem.hpp
  R-TypeGame/Systems/Shoot/ShootDestroySystem.cpp
  R-TypeGame/Systems/ShootMob/ShootInitSystem.cpp
  R-TypeGame/Systems/ShootMob/ShootInitSystem.hpp
  R-TypeGame/Systems/ShootMob/ShootSystem.cpp
  R-TypeGame/Systems/ShootMob/ShootSystem.hpp
  install.bat
  install.sh
  tools/build-linux.sh
Labels: Enhancement, Client

#150 FEAT: Init window from json Methods
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/InitWindow/InitWindow.cpp
  Engine/Client/Src/InitWindow/InitWindow.hpp
  Engine/Shared/Interface/IGraphic.hpp
  Game/Config/Settings.json
  GraphicLibrary/Src/GraphicLib.cpp
  GraphicLibrary/Src/GraphicLib.hpp
Labels: Enhancement, Client

#153 FIX: Clock the velocity
  Engine/Client/Src/Application/Application.cpp
  Engine/Server/Src/Network/NetworkServer.cpp
  Game/GameData/Entities/Shoot.json
  R-TypeGame/Components/Velocity/VelocityComponent.cpp
  R-TypeGame/Components/Velocity/VelocityComponent.hpp
  R-TypeGame/Parser/Position2DParser/Position2DParser.cpp
  R-TypeGame/Parser/ScaleParser/ScaleParser.cpp
  R-TypeGame/Parser/ShootParser/ShootParser.cpp
  R-TypeGame/Parser/SpeedParser/SpeedParser.cpp
  R-TypeGame/Parser/TextureRectParser/TextureRectParser.cpp
  R-TypeGame/Parser/VelocityParser/VelocityParser.cpp
  R-TypeGame/Systems/Background/PlanetInitSystem.cpp
  R-TypeGame/Systems/Background/PlanetRestartSystem.cpp
  R-TypeGame/Systems/Background/UpdatePlanet.cpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Move/MoveEntities/MoveEntitiesSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitOneSystem.cpp
  R-TypeGame/Systems/Shoot/ShootDestroySystem.cpp
  R-TypeGame/Systems/Shoot/ShootSystem.cpp
Labels: Bug

#155 FIX: Cross platform on windows
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/GetGraphicalLibrary/GetGraphicalLibrary.cpp
  Engine/Client/Src/Network/NetworkClient.cpp
  Engine/Server/CMakeLists.txt
  Engine/Server/Src/Network/NetworkServer.cpp
  Engine/Shared/Component/Entities/Player/PlayerComponent.cpp
  Engine/Shared/DLLoader/DLLoader.hpp
  Engine/Shared/Ecs/CMakeLists.txt
  Engine/Shared/Interface/IGraphic.hpp
  Engine/Shared/Interface/ISystem.hpp
  Engine/Shared/Interface/ISystemNetworkUpdate.hpp
  Engine/Shared/Network/Packet/CMakeLists.txt
  Engine/Shared/SceneManager/ASceneManager.cpp
  Game/Config/Settings.json
  GraphicLibrary/CMakeLists.txt
  GraphicLibrary/Src/GraphicLib.cpp
  R-TypeGame/SystemNetworkUpdate/CMakeLists.txt
  R-TypeGame/SystemNetworkUpdate/UpdatePositionSystem/updatePositionSystem.cpp
  R-TypeGame/SystemNetworkUpdate/UpdateShootSystem/updateShootSystem.cpp
  R-TypeGame/Systems/Background/BackgroundInitSystem.cpp
  R-TypeGame/Systems/Background/PlanetInitSystem.cpp
  R-TypeGame/Systems/Background/PlanetRestartSystem.cpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Hitbox/HitboxPlayerSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/ConnectButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/IpTextBoxInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/PortTextBoxInitSystem.cpp
  R-TypeGame/Systems/Mob/MobInitSystem.cpp
  R-TypeGame/Systems/Mouse/MouseSystem.cpp
  R-TypeGame/Systems/Move/MoveEntities/MoveEntitiesSystem.cpp
  R-TypeGame/Systems/Move/MoveSystemDown/MoveSystemDown.cpp
  R-TypeGame/Systems/Move/MoveSystemLeft/MoveSystemLeft.cpp
  R-TypeGame/Systems/Move/MoveSystemRight/MoveSystemRight.cpp
  R-TypeGame/Systems/Move/MoveSystemUp/MoveSystemUp.cpp
  R-TypeGame/Systems/MoveSystem/MoveMobs/MoveMobsSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitFourSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitOneSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitThreeSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitTwoSystem.cpp
  R-TypeGame/Systems/Shoot/ShootDestroySystem.cpp
  R-TypeGame/Systems/Shoot/ShootSystem.cpp
  R-TypeGame/Systems/ShootMob/ShootSystem.cpp
  R-TypeGame/Systems/Typing/TypingSystem.cpp
  tools/build-windows.bat
  tools/install-windows.bat
Labels: Bug

#157 FEAT: Link menu client to network
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/ClientSceneManager/ClientSceneManager.hpp
  Engine/Client/Src/Network/NetworkClient.cpp
  Engine/Client/Src/Network/NetworkClient.hpp
  Engine/Server/CMakeLists.txt
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Server/Src/GameEngine/Application/Application.hpp
  Engine/Server/Src/Network/NetworkServer.cpp
  Engine/Shared/Component/NetworkConnectionComponent.cpp
  Engine/Shared/Component/NetworkConnectionComponent.hpp
  Engine/Shared/Ecs/Src/Registry.cpp
  Engine/Shared/Ecs/Src/Registry.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  Engine/Shared/SceneManager/ASceneManager.hpp
  Game/GameData/Scenes/Menus/Buttons/connectButtonSystem.json
  Game/GameData/Scenes/firstScene.json
  R-TypeGame/SystemNetworkUpdate/CMakeLists.txt
  R-TypeGame/SystemNetworkUpdate/UpdatePositionSystem/updatePositionSystem.cpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Menus/Buttons/ConnectButtonInitSystem.cpp
  R-TypeGame/Systems/Move/MoveSystemDown/MoveSystemDown.cpp
  R-TypeGame/Systems/Move/MoveSystemLeft/MoveSystemLeft.cpp
  R-TypeGame/Systems/Move/MoveSystemRight/MoveSystemRight.cpp
  R-TypeGame/Systems/Move/MoveSystemUp/MoveSystemUp.cpp
Labels: Enhancement, Server, Client, Network

#156 FEAT: Implement shoot consequences
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Server/Src/GameEngine/Application/Application.hpp
  Engine/Server/Src/Network/NetworkServer.cpp
  Engine/Server/Src/Network/NetworkServer.hpp
  Game/GameData/Entities/Mob.json
  Game/GameData/Entities/Shoot.json
  Game/GameData/Entities/ShootMob.json
  Game/GameData/Scenes/firstScene.json
  R-TypeGame/Components/Shoot/ShootComponent.cpp
  R-TypeGame/Components/Shoot/ShootComponent.hpp
  R-TypeGame/Parser/ShootParser/ShootParser.cpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Mob/MobInitSystem.cpp
  R-TypeGame/Systems/Shoot/ShootDamageSystem.cpp
  R-TypeGame/Systems/Shoot/ShootDamageSystem.hpp
Labels: Enhancement, Server, Client, Ecs

#159 FEAT: Implement end screen on player death
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/ClientSceneManager/ClientSceneManager.hpp
  Engine/Client/Src/Network/NetworkClient.cpp
  Engine/Client/Src/Network/NetworkClient.hpp
  Engine/Server/CMakeLists.txt
  Engine/Shared/Component/Entities/Player/PlayerComponent.cpp
  Engine/Shared/Component/Entities/Player/PlayerComponent.hpp
  Engine/Shared/Component/NetworkConnectionComponent.cpp
  Engine/Shared/Component/NetworkConnectionComponent.hpp
  Engine/Shared/Ecs/Src/Registry.cpp
  Engine/Shared/Ecs/Src/Registry.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  Engine/Shared/SceneManager/ASceneManager.hpp
  Game/Assets/from_noware.png
  Game/GameData/Entities/EndLogo.json
  Game/GameData/Scenes/Menus/Buttons/connectButtonSystem.json
  Game/GameData/Scenes/endScene.json
  R-TypeGame/SystemNetworkUpdate/CMakeLists.txt
  R-TypeGame/SystemNetworkUpdate/UpdatePositionSystem/updatePositionSystem.cpp
  R-TypeGame/Systems/Background/EndLogoInitSystem.cpp
  R-TypeGame/Systems/Background/EndLogoInitSystem.hpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Menus/Buttons/ConnectButtonInitSystem.cpp
  R-TypeGame/Systems/Move/MoveSystemDown/MoveSystemDown.cpp
  R-TypeGame/Systems/Move/MoveSystemLeft/MoveSystemLeft.cpp
  R-TypeGame/Systems/Move/MoveSystemRight/MoveSystemRight.cpp
  R-TypeGame/Systems/Move/MoveSystemUp/MoveSystemUp.cpp
  R-TypeGame/Systems/Shoot/ShootDamageSystem.cpp
  tools/build-linux.sh
  tools/install-linux.sh
Labels: Enhancement, Client, System

#160 Fix: Make the Shoot Damage System opennable on windows
  R-TypeGame/Systems/Shoot/ShootDamageSystem.cpp
Labels: Bug, System

#161 REFACTOR: Complete how to play
  README.md
Labels: Documentation

#165 REFACTOR: Stop leaving the screen with starships
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Move/MoveSystemDown/MoveSystemDown.cpp
  R-TypeGame/Systems/Move/MoveSystemDown/MoveSystemDown.hpp
  R-TypeGame/Systems/Move/MoveSystemLeft/MoveSystemLeft.cpp
  R-TypeGame/Systems/Move/MoveSystemRight/MoveSystemRight.cpp
  R-TypeGame/Systems/Move/MoveSystemRight/MoveSystemRight.hpp
  R-TypeGame/Systems/Move/MoveSystemUp/MoveSystemUp.cpp
Labels: Enhancement, Client

#167 FEAT: Handle spawn/kill players
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Network/NetworkClient.cpp
  Engine/Client/Src/Network/NetworkClient.hpp
  Engine/Client/Src/Systems/DrawOBJ/DrawOBJSystem.cpp
  Engine/Client/Src/Systems/DrawTexture/DrawTextureSystem.cpp
  Engine/Client/Src/Systems/DrawTextureRect/DrawTextureRectSystem.cpp
  Engine/Server/CMakeLists.txt
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Server/Src/Network/NetworkServer.cpp
  Engine/Server/Src/Network/NetworkServer.hpp
  Engine/Shared/Component/DrawComponent.cpp
  Engine/Shared/Component/DrawComponent.hpp
  Engine/Shared/Ecs/Src/Registry.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  Engine/Shared/SceneManager/ASceneManager.hpp
  Game/GameData/Entities/PlayerFour.json
  Game/GameData/Entities/PlayerOne.json
  Game/GameData/Entities/PlayerThree.json
  Game/GameData/Entities/PlayerTwo.json
  Game/GameData/Scenes/firstScene.json
  R-TypeGame/SystemNetworkUpdate/CMakeLists.txt
  R-TypeGame/SystemNetworkUpdate/UpdatePlayerConnectionSystem/updatePlayerConnectionSystem.cpp
  R-TypeGame/SystemNetworkUpdate/UpdatePlayerConnectionSystem/updatePlayerConnectionSystem.hpp
  R-TypeGame/Systems/Background/BackgroundInitSystem.cpp
  R-TypeGame/Systems/Background/EndLogoInitSystem.cpp
  R-TypeGame/Systems/Background/PlanetInitSystem.cpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Menus/Buttons/ConnectButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/IpTextBoxInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/PortTextBoxInitSystem.cpp
  R-TypeGame/Systems/Mob/MobInitSystem.cpp
  R-TypeGame/Systems/Move/MoveSystemDown/MoveSystemDown.cpp
  R-TypeGame/Systems/Move/MoveSystemDown/MoveSystemDown.hpp
  R-TypeGame/Systems/Move/MoveSystemLeft/MoveSystemLeft.cpp
  R-TypeGame/Systems/Move/MoveSystemLeft/MoveSystemLeft.hpp
  R-TypeGame/Systems/Move/MoveSystemRight/MoveSystemRight.cpp
  R-TypeGame/Systems/Move/MoveSystemRight/MoveSystemRight.hpp
  R-TypeGame/Systems/Move/MoveSystemUp/MoveSystemUp.cpp
  R-TypeGame/Systems/Move/MoveSystemUp/MoveSystemUp.hpp
  R-TypeGame/Systems/Players/PlayerInitFourSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitOneSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitThreeSystem.cpp
  R-TypeGame/Systems/Players/PlayerInitTwoSystem.cpp
  R-TypeGame/Systems/Shoot/ShootDamageSystem.cpp
  R-TypeGame/Systems/Shoot/ShootDamageSystem.hpp
  R-TypeGame/Systems/Shoot/ShootInitSystem.cpp
  R-TypeGame/Systems/Shoot/ShootSystem.cpp
  R-TypeGame/Systems/ShootMob/ShootInitSystem.cpp
Labels: Enhancement, Server, Client, Network, Component, System

#170 FIX: Multithreading read and write on same vectors
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Network/NetworkClient.cpp
  Engine/Client/Src/Network/NetworkClient.hpp
  Engine/Client/Src/Systems/DrawOBJ/DrawOBJSystem.cpp
  Engine/Client/Src/Systems/DrawText/DrawTextSystem.cpp
  Engine/Client/Src/Systems/DrawTexture/DrawTextureSystem.cpp
  Engine/Client/Src/Systems/DrawTextureRect/DrawTextureRectSystem.cpp
  Engine/Client/Src/Systems/SpriteSheetAnimation/SpriteSheetAnimationSystem.cpp
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Server/Src/Network/NetworkServer.cpp
  Engine/Shared/Ecs/Src/Registry.hpp
  R-TypeGame/SystemNetworkUpdate/UpdatePlayerConnectionSystem/updatePlayerConnectionSystem.cpp
  R-TypeGame/SystemNetworkUpdate/UpdatePositionSystem/updatePositionSystem.cpp
  R-TypeGame/SystemNetworkUpdate/UpdateShootSystem/updateShootSystem.cpp
  R-TypeGame/Systems/Background/PlanetRestartSystem.cpp
  R-TypeGame/Systems/Hitbox/HitboxPlayerSystem.cpp
  R-TypeGame/Systems/Mouse/MouseSystem.cpp
  R-TypeGame/Systems/Move/MoveEntities/MoveEntitiesSystem.cpp
  R-TypeGame/Systems/Move/MoveSystemDown/MoveSystemDown.cpp
  R-TypeGame/Systems/Move/MoveSystemLeft/MoveSystemLeft.cpp
  R-TypeGame/Systems/Move/MoveSystemRight/MoveSystemRight.cpp
  R-TypeGame/Systems/Move/MoveSystemUp/MoveSystemUp.cpp
  R-TypeGame/Systems/MoveSystem/MoveMobs/MoveMobsSystem.cpp
  R-TypeGame/Systems/Shoot/ShootDamageSystem.cpp
  R-TypeGame/Systems/Shoot/ShootDestroySystem.cpp
  R-TypeGame/Systems/Shoot/ShootSystem.cpp
  R-TypeGame/Systems/ShootMob/ShootSystem.cpp
  R-TypeGame/Systems/Typing/TypingSystem.cpp
Labels: Bug, Server, Client, Network, Ecs, Component, System

#169 refactor(README.md): correct path for tools in readme
  README.md
Labels: Documentation, Enhancement

#176 FEAT: ABI and network static library .a / .lib
  CMakeLists.txt
  Network/ABI/ABIClient.cpp
  Network/ABI/ABIClient.hpp
  Network/ABI/ABINetwork.cpp
  Network/ABI/ABINetwork.hpp
  Network/ABI/ABIServer.cpp
  Network/ABI/ABIServer.hpp
  Network/CMakeLists.txt
  Network/Errors/ABIError.hpp
  Network/Errors/IError.hpp
  Network/Messages/Auth/.gitkeep
  Network/Messages/ChatBox/.gitkeep
  Network/Messages/CreateEntity/.gitkeep
  Network/Messages/DestroyEntity/.gitkeep
  Network/Messages/IMessage.hpp
  Network/Messages/Room/.gitkeep
  Network/Messages/UpdateComponent/.gitkeep
  Network/Units/ANetworkUnit/ANetworkUnit.cpp
  Network/Units/ANetworkUnit/ANetworkUnit.hpp
  Network/Units/Client/Client.cpp
  Network/Units/Client/Client.hpp
  Network/Units/INetworkUnit.hpp
  Network/Units/Server/Server.cpp
  Network/Units/Server/Server.hpp
Labels: Network

#180 FEAT: Create LICENSE
  LICENSE
Labels: Documentation

#182 FEAT: Create client abi function
  CMakeLists.txt
  Network/ABI/ABIClient.cpp
  Network/ABI/ABIClient.hpp
  Network/ABI/ABINetwork.cpp
  Network/ABI/ABINetwork.hpp
  Network/ABI/ABIServer.cpp
  Network/ABI/ABIServer.hpp
  Network/CMakeLists.txt
  Network/Errors/ABIError.hpp
  Network/Errors/IError.hpp
  Network/Messages/Auth/.gitkeep
  Network/Messages/ChatBox/.gitkeep
  Network/Messages/CreateEntity/.gitkeep
  Network/Messages/DestroyEntity/.gitkeep
  Network/Messages/IMessage.hpp
  Network/Messages/Room/.gitkeep
  Network/Messages/UpdateComponent/.gitkeep
  Network/Units/ANetworkUnit/ANetworkUnit.cpp
  Network/Units/ANetworkUnit/ANetworkUnit.hpp
  Network/Units/Client/Client.cpp
  Network/Units/Client/Client.hpp
  Network/Units/INetworkUnit.hpp
  Network/Units/Server/Server.cpp
  Network/Units/Server/Server.hpp
Labels: Client, Network

#189 Feat: Create Server class in ABI
  Network/ABI/ABIServer.cpp
  Network/ABI/ABIServer.hpp
  Network/CMakeLists.txt
  Network/Messages/UDPPacket/UDPPacket.cpp
  Network/Messages/UDPPacket/UDPPacket.hpp
  Network/Units/Server/Server.cpp
  Network/Units/Server/Server.hpp
Labels: Enhancement, Server, Network

#193 FEAT: Login, register and logout method ABI
  Network/ABI/ABIClient.cpp
  Network/ABI/ABIClient.hpp
  Network/ABI/ABINetwork.hpp
  Network/ABI/ABIServer.cpp
  Network/ABI/ABIServer.hpp
  Network/CMakeLists.txt
  Network/Messages/AMessage/AMessage.cpp
  Network/Messages/AMessage/AMessage.hpp
  Network/Messages/Auth/.gitkeep
  Network/Messages/Auth/Auth.cpp
  Network/Messages/Auth/Auth.hpp
  Network/Messages/IMessage.hpp
  Network/Units/ANetworkUnit/ANetworkUnit.cpp
  Network/Units/ANetworkUnit/ANetworkUnit.hpp
  Network/Units/Client/Client.hpp
  Network/Units/INetworkUnit.hpp
Labels: Network

#194 FEAT: Create setMessageInQueue function && getMessageInQueue function
  Network/ABI/ABINetwork.cpp
  Network/ABI/ABINetwork.hpp
  Network/Units/ANetworkUnit/ANetworkUnit.cpp
  Network/Units/ANetworkUnit/ANetworkUnit.hpp
  Network/Units/INetworkUnit.hpp
Labels: Enhancement, Network

#197 FEAT: Chatbox messages ABI
  Network/ABI/ABIClient.cpp
  Network/ABI/ABIClient.hpp
  Network/ABI/ABIServer.cpp
  Network/ABI/ABIServer.hpp
  Network/CMakeLists.txt
  Network/Messages/ChatBox/.gitkeep
  Network/Messages/ChatBox/ChatBox.cpp
  Network/Messages/ChatBox/ChatBox.hpp
Labels: Enhancement, Network

#199 FEAT: Keypressed message abi
  Network/ABI/ABIClient.cpp
  Network/ABI/ABIClient.hpp
  Network/ABI/ABIServer.cpp
  Network/ABI/ABIServer.hpp
  Network/CMakeLists.txt
  Network/Messages/Auth/Auth.cpp
  Network/Messages/IMessage.hpp
  Network/Messages/KeyPressed/KeyPressed.cpp
  Network/Messages/KeyPressed/KeyPressed.hpp
Labels: Enhancement, Network

#202 Refactor: Rename callback component to clickable
  R-TypeGame/Components/CallBack/CallBackComponent.cpp
  R-TypeGame/Components/Clickable/ClickableComponent.cpp
  R-TypeGame/Components/Clickable/ClickableComponent.hpp
  R-TypeGame/SystemNetworkUpdate/CMakeLists.txt
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Menus/Buttons/AButton/AButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/AButton/AButtonInitSystem.hpp
  R-TypeGame/Systems/Menus/Buttons/ConnectButton/ConnectButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/IpTextBox/IpTextBoxInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/PortTextBox/PortTextBoxInitSystem.cpp
  R-TypeGame/Systems/Mouse/MouseSystem.cpp
  R-TypeGame/Systems/Typing/TypingSystem.cpp
Labels: Component

#207 Refactor: Make the client display fully responsive
  Engine/Client/Src/GetGraphicalLibrary/IGraphic.hpp
  Game/GameData/Scenes/Menus/Buttons/connectButtonSystem.json
  Game/GameData/Scenes/Menus/Buttons/ipTextBoxSystem.json
  Game/GameData/Scenes/Menus/Buttons/portTextBoxSystem.json
  GraphicLibrary/Src/GraphicLib.cpp
  GraphicLibrary/Src/GraphicLib.hpp
  R-TypeGame/Systems/Mouse/MouseSystem.cpp
Labels: Enhancement, Client

#208 Feat: Create entity payload and get it
  LICENSE
  Network/ABI/ABIClient.cpp
  Network/ABI/ABIClient.hpp
  Network/ABI/ABIServer.cpp
  Network/ABI/ABIServer.hpp
  Network/CMakeLists.txt
  Network/Messages/CreateEntity/.gitkeep
  Network/Messages/CreateEntity/CreateEntity.cpp
  Network/Messages/CreateEntity/CreateEntity.hpp
  Network/Messages/IMessage.hpp
Labels: Enhancement, Network

#219 FEAT: Create main menu
  Engine/Client/Src/GetGraphicalLibrary/IGraphic.hpp
  Game/Assets/BaseRectangleButton.png
  Game/Assets/BaseSquareButton.png
  Game/Assets/HoverRectangleButton.png
  Game/Assets/HoverSquareButton.png
  Game/Assets/PressedRectangleButton.png
  Game/Assets/PressedSquareButton.png
  Game/GameData/Scenes/Menus/Buttons/exitButtonSystem.json
  Game/GameData/Scenes/Menus/Buttons/mapEditorButtonSystem.json
  Game/GameData/Scenes/Menus/Buttons/multiplayerButtonSystem.json
  Game/GameData/Scenes/Menus/Buttons/singleplayerButtonSystem.json
  Game/GameData/Scenes/Menus/newMainMenu.json
  GraphicLibrary/Src/GraphicLib.cpp
  GraphicLibrary/Src/GraphicLib.hpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Menus/Buttons/AButton/AButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/ExitButton/ExitButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/ExitButton/ExitButtonInitSystem.hpp
  R-TypeGame/Systems/Menus/Buttons/IpTextBox/IpTextBoxInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/MapEditorButton/MapEditorButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/MapEditorButton/MapEditorButtonInitSystem.hpp
  R-TypeGame/Systems/Menus/Buttons/MultiplayerButton/MultiplayerButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/MultiplayerButton/MultiplayerButtonInitSystem.hpp
  R-TypeGame/Systems/Menus/Buttons/PortTextBox/PortTextBoxInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/SingleplayerButton/SingleplayerButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/SingleplayerButton/SingleplayerButtonInitSystem.hpp
Labels: Enhancement, Client

#221 FEAT: Link the project with the ABI
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Server/CMakeLists.txt
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Server/Src/GameEngine/Application/Application.hpp
  Network/ABI/ABINetwork.cpp
  Network/Units/ANetworkUnit/ANetworkUnit.cpp
  Network/Units/ANetworkUnit/ANetworkUnit.hpp
  Network/Units/Client/Client.cpp
  Network/Units/INetworkUnit.hpp
  Network/Units/Server/Server.cpp
  Network/Units/Server/Server.hpp
Labels: Enhancement, Network

#222 FEAT: Create function to update component
  Network/ABI/ABIClient.cpp
  Network/ABI/ABIClient.hpp
  Network/ABI/ABIServer.cpp
  Network/ABI/ABIServer.hpp
  Network/CMakeLists.txt
  Network/Messages/CreateEntity/CreateEntity.cpp
  Network/Messages/CreateEntity/CreateEntity.hpp
  Network/Messages/UpdateComponent/.gitkeep
  Network/Messages/UpdateComponent/UpdateComponent.cpp
  Network/Messages/UpdateComponent/UpdateComponent.hpp
Labels: Enhancement, Network

#220 FEAT: Make server connection menu
  Game/GameData/Scenes/Menus/Buttons/connectButtonSystem.json
  Game/GameData/Scenes/Menus/Buttons/ipTextBoxSystem.json
  Game/GameData/Scenes/Menus/Buttons/portTextBoxSystem.json
  Game/GameData/Scenes/Menus/Texts/serverConnectionTextSystem.json
  Game/GameData/Scenes/Menus/serverConnectionMenu.json
  R-TypeGame/Systems/AText/ATextInitSystem.cpp
  R-TypeGame/Systems/AText/ATextInitSystem.hpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Menus/Buttons/AButton/AButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/AButton/AButtonInitSystem.hpp
  R-TypeGame/Systems/Menus/Buttons/ConnectButton/ConnectButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/ExitButton/ExitButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/IpTextBox/IpTextBoxInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/MapEditorButton/MapEditorButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/MultiplayerButton/MultiplayerButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/PortTextBox/PortTextBoxInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/SingleplayerButton/SingleplayerButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Texts/ServerConnection/ServerConnectionTextInitSystem.cpp
  R-TypeGame/Systems/Menus/Texts/ServerConnection/ServerConnectionTextInitSystem.hpp
Labels: Enhancement, Client

#187 FEAT: User system with sqlite
  .gitignore
  Network/CMakeLists.txt
  Network/User/User.cpp
  Network/User/User.hpp
  tools/build-linux.sh
  tools/install-linux.sh
  vcpkg.json
Labels: Enhancement, Server

#226 FEAT: Link ABI to keys systems
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Server/Src/GameEngine/Application/Application.hpp
Labels: Server, Network

#230 Feat: Create class to compute consummation
  Engine/Client/CMakeLists.txt
  Engine/Client/Src/Application/Application.cpp
  Engine/Server/CMakeLists.txt
  Engine/Shared/Consumption/ConsumptionCompute.cpp
  Engine/Shared/Consumption/ConsumptionCompute.hpp
  Game/Config/.gitkeep
Labels: Enhancement, Client

#235 FEAT: Link multiplayer button to page server connection page
  Engine/Client/Src/Application/Application.cpp
  Engine/Ecs/Src/Events/AEvent.hpp
  Engine/Shared/DefaultEventHandlers/AEventHandler.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  Engine/Shared/SceneManager/ASceneManager.hpp
  Engine/Shared/SceneManager/ISceneManager.hpp
  Game/GameData/Scenes/Menus/mainMenu.json
  Game/GameData/Scenes/Menus/newMainMenu.json
  R-TypeGame/EventHandlers/CMakeLists.txt
  R-TypeGame/EventHandlers/SwitchScene/SwitchSceneHandler.cpp
  R-TypeGame/EventHandlers/SwitchScene/SwitchSceneHandler.hpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Menus/Buttons/ConnectButton/ConnectButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/MultiplayerButton/MultiplayerButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/MultiplayerButton/MultiplayerButtonInitSystem.hpp
Labels: Enhancement, System

#238 Fix: .so lib wont go in gameengine
  R-TypeGame/Systems/CMakeLists.txt
Labels: Bug

#241 FEAT: Handle room ABI server and client
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Client/Src/ClientSceneManager/ClientSceneManager.hpp
  Engine/Server/CMakeLists.txt
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Server/Src/GameEngine/Application/Application.hpp
  Engine/Server/Src/GameEngine/Errors/ServerErrors.hpp
  Engine/Server/Src/GameEngine/Room/Room.cpp
  Engine/Server/Src/GameEngine/Room/Room.hpp
  Network/ABI/ABIClient.cpp
  Network/ABI/ABIClient.hpp
  Network/ABI/ABINetwork.cpp
  Network/ABI/ABIServer.cpp
  Network/ABI/ABIServer.hpp
  Network/CMakeLists.txt
  Network/Messages/ChatBox/ChatBox.cpp
  Network/Messages/IMessage.hpp
  Network/Messages/KeyPressed/KeyPressed.cpp
  Network/Messages/Room/.gitkeep
  Network/Messages/RoomMessage/RoomMessage.cpp
  Network/Messages/RoomMessage/RoomMessage.hpp
  Network/Messages/UDPPacket/UDPPacket.cpp
  Network/Messages/UDPPacket/UDPPacket.hpp
  Network/Units/ANetworkUnit/ANetworkUnit.hpp
  Network/Units/Client/Client.cpp
  Network/Units/Client/Client.hpp
  Network/Units/INetworkUnit.hpp
  Network/Units/Server/Server.cpp
  Network/Units/Server/Server.hpp
  R-TypeGame/Parser/ButtonStateParser/ButtonStateParser.cpp
  R-TypeGame/Parser/ButtonTexturePathParser/ButtonTexturePathParser.cpp
  R-TypeGame/Parser/ColourParser/ColourParser.cpp
  R-TypeGame/Parser/DefaultTextParser/DefaultTextParser.cpp
  R-TypeGame/Parser/FontPathParser/FontPathParser.cpp
  R-TypeGame/Parser/LifeParser/LifeParser.cpp
  R-TypeGame/Parser/MobParser/MobParser.cpp
  R-TypeGame/Parser/PlayerParser/PlayerParser.cpp
  R-TypeGame/Parser/Size1DParser/Size1DParser.cpp
  R-TypeGame/Parser/SpriteSheetAnimationParser/SpriteSheetAnimationParser.cpp
  R-TypeGame/Parser/TextLimitParser/TextLimitParser.cpp
  R-TypeGame/Parser/TextParser/TextParser.cpp
  R-TypeGame/Parser/TextPosition2DParser/TextPosition2DParser.cpp
Labels: Server, Client, Network

#245 REFACTOR: Move button unselection to the mouse system
  R-TypeGame/Systems/Menus/Buttons/ConnectButton/ConnectButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/CreateRoomPageButton/CreateRoomPageButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/ExitButton/ExitButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/IpTextBox/IpTextBoxInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/JoinRoomPageButton/JoinRoomPageButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/LoginButton/LoginButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/LoginPageButton/LoginPageButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/MapEditorButton/MapEditorButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/MultiplayerButton/MultiplayerButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/PasswordTextBox/PasswordTextBoxInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/PortTextBox/PortTextBoxInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/RegisterButton/RegisterButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/RegisterPageButton/RegisterPageButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/SingleplayerButton/SingleplayerButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/UsernameTextBox/UsernameTextBoxInitSystem.cpp
  R-TypeGame/Systems/Mouse/MouseSystem.cpp
Labels: System

#228 REFACTOR: User system
  .github/workflows/Linux.yml
  .github/workflows/Windows.yml
  .gitignore
  Engine/Server/CMakeLists.txt
  Engine/Server/Src/GameEngine/Errors/ServerErrors.hpp
  Engine/Server/Src/main.cpp
  Network/CMakeLists.txt
  Network/Database/Database.cpp
  Network/Database/Database.hpp
  Network/Database/Models/Scores/Scores.cpp
  Network/Database/Models/Scores/Scores.hpp
  Network/Database/Models/Users/Users.cpp
  Network/Database/Models/Users/Users.hpp
  Network/Errors/AError.hpp
  Network/Errors/DbError.hpp
  Network/Errors/IError.hpp
  Network/User/User.cpp
  Network/User/User.hpp
  tools/build-linux.sh
  tools/build-windows.bat
Labels: Network

#250 FEAT: Linked create rooms buttons with ABI
  Engine/Client/Src/Application/Application.cpp
  Game/GameData/Scenes/Menus/roomCreationMenu.json
  Network/ABI/ABIClient.cpp
  Network/ABI/ABIClient.hpp
  Network/Errors/AError.hpp
  Network/Units/Client/Client.cpp
  Network/Units/Client/Client.hpp
  R-TypeGame/EventHandlers/CMakeLists.txt
  R-TypeGame/EventHandlers/ConnectServer/ConnectServerHandler.cpp
  R-TypeGame/EventHandlers/CreateRoom/CreateRoomHandler.cpp
  R-TypeGame/EventHandlers/CreateRoom/CreateRoomHandler.hpp
  R-TypeGame/Systems/Menus/Buttons/AreCheatsOnButton/AreCheatsOnButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/CreateRoomButton/CreateRoomButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/IsRoomPrivateButton/IsRoomPrivateButtonInitSystem.cpp
Labels: Client, Network

#252 REFACTOR: Send messages target to one client
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Network/ABI/ABINetwork.cpp
  Network/ABI/ABINetwork.hpp
  Network/ABI/ABIServer.cpp
  Network/ABI/ABIServer.hpp
  Network/Units/ANetworkUnit/ANetworkUnit.cpp
  Network/Units/ANetworkUnit/ANetworkUnit.hpp
  Network/Units/Client/Client.cpp
  Network/Units/Client/Client.hpp
  Network/Units/INetworkUnit.hpp
  Network/Units/Server/Server.cpp
  Network/Units/Server/Server.hpp
Labels: Network

#254 FEAT: Link ABI Network to update Component
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Server/CMakeLists.txt
  Engine/Server/Src/GameEngine/Room/Room.cpp
  Engine/Server/Src/GameEngine/Room/Room.hpp
  Engine/Shared/DefaultSystems/ISystemNetworkUpdate.hpp
  Engine/Shared/SceneManager/ASceneManager.cpp
  Engine/Shared/SceneManager/ASceneManager.hpp
  Engine/Shared/SceneManager/ISceneManager.hpp
  Game/GameData/Scenes/firstScene.json
  Network/ABI/ABIClient.cpp
  Network/ABI/ABIClient.hpp
  Network/ABI/ABINetwork.hpp
  Network/ABI/ABIServer.cpp
  Network/ABI/ABIServer.hpp
  Network/CMakeLists.txt
  Network/Messages/AMessage/AMessage.hpp
  Network/Messages/IMessage.hpp
  Network/Messages/InitMessage/InitMessage.cpp
  Network/Messages/InitMessage/InitMessage.hpp
  Network/Messages/RoomMessage/RoomMessage.hpp
  Network/Messages/UDPPacket/UDPPacket.cpp
  Network/Messages/UpdateComponent/UpdateComponent.cpp
  Network/Messages/UpdateComponent/UpdateComponent.hpp
  Network/Units/Client/Client.cpp
  Network/Units/Client/Client.hpp
  Network/Units/INetworkUnit.hpp
  Network/Units/Server/Server.cpp
  Network/Units/Server/Server.hpp
  R-TypeGame/EventHandlers/CMakeLists.txt
  R-TypeGame/EventHandlers/ConnectServer/ConnectServerHandler.cpp
  R-TypeGame/EventHandlers/MoveEntity/MoveEntityHandler.cpp
  R-TypeGame/EventHandlers/MoveEntity/MoveEntityHandler.hpp
  R-TypeGame/SystemNetworkUpdate/CMakeLists.txt
  R-TypeGame/SystemNetworkUpdate/UpdatePlayerConnectionSystem/updatePlayerConnectionSystem.cpp
  R-TypeGame/SystemNetworkUpdate/UpdatePlayerConnectionSystem/updatePlayerConnectionSystem.hpp
  R-TypeGame/SystemNetworkUpdate/UpdatePositionSystem/updatePositionSystem.cpp
  R-TypeGame/SystemNetworkUpdate/UpdatePositionSystem/updatePositionSystem.hpp
  R-TypeGame/SystemNetworkUpdate/UpdateShootSystem/updateShootSystem.cpp
  R-TypeGame/SystemNetworkUpdate/UpdateShootSystem/updateShootSystem.hpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Menus/Buttons/RegisterButton/RegisterButtonInitSystem.cpp
  R-TypeGame/Systems/Move/MoveSystemDown/MoveSystemDown.cpp
  R-TypeGame/Systems/Move/MoveSystemDown/MoveSystemDown.hpp
  R-TypeGame/Systems/Move/MoveSystemLeft/MoveSystemLeft.cpp
  R-TypeGame/Systems/Move/MoveSystemLeft/MoveSystemLeft.hpp
  R-TypeGame/Systems/Move/MoveSystemRight/MoveSystemRight.cpp
  R-TypeGame/Systems/Move/MoveSystemRight/MoveSystemRight.hpp
  R-TypeGame/Systems/Move/MoveSystemUp/MoveSystemUp.cpp
  R-TypeGame/Systems/Move/MoveSystemUp/MoveSystemUp.hpp
Labels: Network, System

#259 FEAT: Create RollBAck system and Link ABI to UpdateShootSystem
  Engine/Client/Src/Application/Application.cpp
  Engine/Client/Src/Application/Application.hpp
  Engine/Server/Src/GameEngine/Room/Room.cpp
  Game/GameData/Scenes/firstScene.json
  Network/ABI/ABIClient.cpp
  Network/ABI/ABIClient.hpp
  Network/ABI/ABIServer.cpp
  Network/ABI/ABIServer.hpp
  Network/CMakeLists.txt
  Network/Messages/AssignToken/AssignToken.cpp
  Network/Messages/AssignToken/AssignToken.hpp
  Network/Messages/IMessage.hpp
  R-TypeGame/EventHandlers/CMakeLists.txt
  R-TypeGame/EventHandlers/CreateShoot/CreateShootHandler.cpp
  R-TypeGame/EventHandlers/CreateShoot/CreateShootHandler.hpp
  R-TypeGame/SystemNetworkUpdate/CMakeLists.txt
  R-TypeGame/SystemNetworkUpdate/UpdateShootSystem/updateShootSystem.cpp
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Shoot/ShootSystem.cpp
  R-TypeGame/Systems/Shoot/ShootSystem.hpp
Labels: Enhancement, Network, System

#255 FEAT: link db to abi
  Engine/Server/Src/GameEngine/Application/Application.cpp
  Engine/Server/Src/GameEngine/Application/Application.hpp
  Network/Database/Database.hpp
Labels: Enhancement, Server

#263 FEAT: Implement the back and log out buttons
  Game/GameData/Scenes/Menus/Buttons/backButtonSystem.json
  Game/GameData/Scenes/Menus/accountManagementMenu.json
  Game/GameData/Scenes/Menus/loginMenu.json
  Game/GameData/Scenes/Menus/registerMenu.json
  Game/GameData/Scenes/Menus/roomCreationMenu.json
  Game/GameData/Scenes/Menus/roomManagementMenu.json
  Game/GameData/Scenes/Menus/serverConnectionMenu.json
  R-TypeGame/Systems/CMakeLists.txt
  R-TypeGame/Systems/Menus/Buttons/AButton/AButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/BackButtons/BackToAccountManagement/BackToAccountManagementButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/BackButtons/BackToAccountManagement/BackToAccountManagementButtonInitSystem.hpp
  R-TypeGame/Systems/Menus/Buttons/BackButtons/BackToMain/BackToMainButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/BackButtons/BackToMain/BackToMainButtonInitSystem.hpp
  R-TypeGame/Systems/Menus/Buttons/BackButtons/BackToRoomManagement/BackToRoomManagementButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/BackButtons/BackToRoomManagement/BackToRoomManagementButtonInitSystem.hpp
  R-TypeGame/Systems/Menus/Buttons/BackButtons/BackToServerConnection/BackToServerConnectionButtonInitSystem.cpp
  R-TypeGame/Systems/Menus/Buttons/BackButtons/BackToServerConnection/BackToServerConnectionButtonInitSystem.hpp
  R-TypeGame/Systems/Menus/Buttons/ConnectButton/ConnectButtonInitSystem.cpp
Labels: Enhancement, Client
